@font-face{
	font-family: Default;
	src: local("Tahoma"), local("Geneva"), url(/css/font/Tahoma.ttf), url(/css/font/Tahoma.svg);
}

body{
	margin: 0px;
	padding: 0px;
	font-family: Default, sans-serif;
	font-size: 12px;
}

.jj-body-cont-wrp{}
	.jj-body-cont{position: relative; z-index: 100;}